{% macro render_multi_field(field) %}
    <div class="form-group">
        {% for subfield in field %}
        <table width="100%" class="bg-light" style="border: 1px solid lightgrey; margin-bottom: .2em; ">
            <col width="13%"><col width="20">
            <col width="15%"><col width="30">
            <col width="15%"><col width="30">
            <col width="15%"><col width="30">
            <col width="1"><col width="5%">
            <col width="1"><col width="5%">
            <tr>
            {% for item in subfield %}
            <td>{% if item.type != 'SubmitField' %}{{ item.label }}{% else %} {% endif %}</td>
                <td>{{ item(**kwargs)|safe }}
                {% if item.errors %}
                    {% for error in item.errors %}
                        <p class="error_class">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>
{% endmacro %}
