{% extends "_layout.html" %}

{% block content %}

{% from "_form_multi_field.html" import render_multi_field %}

    <h3>Please fill in the form</h3>

        <form method="POST" class="form-horizontal">
            {% for field in form.__dict__._fields.keys() %}
                {{ render_multi_field(form[field]) }}
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-outline-primary" href="javascript:history.back()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>

    <h3>Notes</h3>
    <ul>
        <li>Since for binding to ports < 1024 root privileges are required, please use web_ports > 1023.</li>
        <li>To speed-up logging you can mount a ramdisk and deploy scripts into that folder.</li>
        <li>If your actions in actions.py require other python packages (e.g. requests) make sure they are installed on the slaves.</li>
        <li>Make sure all slaves can connect to all the hosts you have mentioned in the act() methods.</li>
    </ul>
{% endblock %}
