{% extends "_layout.html" %}

{% block content %}

{% from "_form.html" import render_field %}
    <h3>Please fill in the form</h3>

        <form method="POST" class="form-horizontal">
            {% for field in form.__dict__._fields.keys() %}
                {{ render_field(form[field]) }}
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a class="btn btn-default" href="javascript:history.back()">Cancel</a>
                    <button type="submit" class="btn btn-default">{{ submit_name }}</button>
                </div>
            </div>
        </form>
<pre>{{text}}</pre>
{% endblock %}
